// palettes
$light-blue: #54C4D9;
$blue: #7AE6F7;
$white: #FEFEFE;
$dark-gray: #454446;
$gray: #666666;
$medium-gray: #79787a;
$light-gray: #9a9a9a;
$dark-white: #e1e1e1;
$medium-white: #EFEFEF;


// adjustment
@import "common/fonts";
@import "common/adjustment";
//@import 'common/sprite';
@import "common/mixins";
@import "common/font-awesome";

//styles
@import "common/header";
@import "common/map";