section.map-g
    .container
        .map(id='map')
        .map-information
            span.map-information__number-of-countries 19
            span.map-information__text-countries Countries Worldwide
            .map-information__wrapper-other-information
                .map-information__other-information
                    .fa.fa-users(aria-hidden="true")
                    .other-information__descriprion 15 000+ Employees
                .map-information__other-information
                    .fa.fa-hourglass-o(aria-hidden="true")
                    .other-information__descriprion 30 Years in Business