section.information
    .container.container-information
        .information__left
            form.search-form(action='#')
                input.search-form__input-search(type='search' placeholder='Search for a person')
                button.search-form__input-submit(type='submit' value='')
                i.fa.fa-search
            .wrapp-buttons
                a.information__button.information__button--request(href='#') MOVEMENT REQUEST
                a.information__button.information__button--place(href='#') LOOK FOR AVAILABLE PLACE
            .my-office
                header.my-office__heder my office
                .my-office__content
                    .my-office__breadcrumbs-list
                        a.my-office__breadcrumbs-item(href='#') Russia
                        a.my-office__breadcrumbs-item(href='#') Saint-Petersburg
                        a.my-office__breadcrumbs-item(href='#') Nab.Chyornoy rechki
                    span.my-office__content-text Floors:
                    ul.my-office__floors-list
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') 1
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') 2
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') 3
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') 4
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') ...
                        li.my-office__floors-item
                            a.my-office__floors-link(href='#') 25
                    span.my-office__content-text Unit: 654
                    span.my-office__content-text Number of room: 654
        .information__right
            .table
                ul.table__tabs
                    li.table__tab.table__tab--active my requests
                    li.table__tab recently viewed units
                    li.table__tab my units
                header.table__header
                    .table-header__request(data-description="request") Request
                    .table-header__date.table-header__sort-down(data-description="date") Date
                    .table-header__status(data-description="status") Status
                .table-body__list
                        //each i in Array(8)
                        //    .table-body__item
                        //        .table-body__request Praesent felis nibh, faucibus et interdum ut
                        //        .table-body__date 07/24/2015
                        //        .table-body__status
                        //            .table-status__indicator Rejected

